h1, h4{
	font-family: "Calibri";
}

#instructions {
	text-align: center;
	font-family: "Calibri";

}

#timer {
	text-align:center;
	padding-bottom: 10px;
	padding-top: 20px;
	font-family: "Calibri";
	font-size: 40px;
}

.big_row {
	width: 540;
	height: 180;
}

.big_cell {
	width: 180;
	height: 180;
}

.small_table {
	width: 180;
	height: 180;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.5);

}

.small_cell {
	text-align: center;
	font-family: "Calibri";
	font-size: 20px;
	width: 60;
	height: 60;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	border-right: 1px dashed rgba(0, 0, 0, 0.2);
}

.small_cell:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.board {
	width:550px;
	height:550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 4px solid #80146c;
}

.button {
	font-family: "Calibri";
	font-size: 20px;
}

#button_panel {
	width: 250px;
	margin: 0 auto;
	border: 2px solid #80146c;
}

.big_table {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(0, 0, 0, 0.5);
}